BasedOnStyle: LLVM

Language:        Cpp
IndentWidth: 2
PointerAlignment: Left
SortIncludes: false
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterStruct:     true
  AfterFunction:   false
  BeforeCatch:     false
  BeforeElse:      false
