**/Makefile.in*
**/Makefile
**/*.pc
**/*.o
**/*.lo
**/*.la
**/.libs/
**/.deps/
**/.dirstamp
**/*.Po
**/*.Plo

/build-aux/
/nbproject/private/
/autoscan.log
/configure.scan
/autom4te.cache/
/config.log
/aclocal.m4
/configure
/intltool-update.in
/intltool-merge.in
/config.guess
/config.h.in
/intltool-extract.in
/config.sub
/depcomp
/config.status
/compile
/install-sh
/po/POTFILES
/missing
/po/stamp-it
/ltmain.sh
/libtool
/stamp-h1
/config.h
/m4/
/tests/trudp_tst
/examples/trudpcat_ev
/config.log
/repo/
/Doxyfile.bak
/trudp_0.*
/libtrudp_0.*
tests/teoccl_cpp_tst
tests/teoccl_tst
nbproject/
/distr/
/dist/
config\.h\.in~
libteoccl*.deb
/build/
/docs/
/doc-pak/
/backup-*-pre-libteoccl\.tgz
/description-pak
INSTALL
/tools/make_package
